  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 10px;
    font-size: 18px;
  }
  .heading_div2
  {
    font-size:15px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 .copy_right_footer{
   background-color: blue;
   width: 100%;
   position: fixed;
   bottom: 0;
   font-size: 18px;
   color: white;
   font-weight: bold;
   text-align: center;
 }
 .result_para_tag span{
    white-space: pre-line;
    
 }